version: "3"
services:
  rabbitmq:
    image: 'rabbitmq:3.13'
    container_name: 'rabbitmq'
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
    networks:
        - rabbitmq_net
    restart: always

networks:
  rabbitmq_net:
    driver: bridge
